::-webkit-scrollbar{
    width: 3px;
    height: 0;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #535353;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
    background: #ededed;
}