<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/bar.css">
    
<link rel="stylesheet" href="/static/css/detail.css">

</head>
<body>
    <div class="header">
        <nav>
            <a href="/" class="head">主页</a>
            <a href="/blog/" class="head">博客</a>
            <a href="/forum/" class="head">论坛</a>
            <a href="/user/login/" class="head">登录</a>
            <a href="/user/register/" class="head">注册</a>
            
        </nav>
        
    </div>
    
<div class="message">
    <h1>BOBQWERA的资料</h1>
    <p>昵称：BOBQWERA</p>
    <p>电话：15662849268</p>
    <p>邮箱：1044285710@qq.com</p>
    <p>信用：100</p>
    <p>积分：18</p>
    <p>最后登录时间：2020-12-02 5:22 p.m.</p>
</div>
<div class="change">
    <a href="btn" class="btn">修改个人信息</a>
</div>

    <footer>
        <nav>
            <a href="/">联系我们</a>
            <a href="/">报错</a>
        </nav>
    </footer>
</body>
</html>