<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/bar.css">
    
<link rel="stylesheet" href="/static/css/word.css">

</head>
<body>
    <div class="header">
        <nav>
            <a href="/" class="head">主页</a>
            <a href="/blog/" class="head">博客</a>
            <a href="/forum/" class="head">论坛</a>
            <a href="/user/login/" class="head">登录</a>
            <a href="/user/register/" class="head">注册</a>
            
        </nav>
        
    </div>
    

<div class="start">
    <h1>选择你的背单词计划</h1>
    <div class="cet4">
        <h2>四级词汇</h2>
        <p>共4025个</p>
        <form action="" method="post" id="cet4">
            <input type="hidden" name="csrfmiddlewaretoken" value="pvrW6skLRSBE8aEC2tVsBH8VormQ9FxaD7gixr8Fa7tsnqMf4ex1cgyMbnQMv2g0">
            <input type="text" name="number" id="cet4-num" placeholder="每天背单词的数量">
            <button type="submit" form="cet4">开始</button>
        </form>
    </div>
    <div class="cet6">
        <h2>六级词汇</h2>
        <p>共5025个</p>
        <form action="" method="post" id="cet6">
            <input type="hidden" name="csrfmiddlewaretoken" value="pvrW6skLRSBE8aEC2tVsBH8VormQ9FxaD7gixr8Fa7tsnqMf4ex1cgyMbnQMv2g0">
            <input type="text" name="number" id="cet4-num" placeholder="每天背单词的数量">
            <button type="submit" form="cet6">开始</button>
        </form>
    </div>
    <div class="tem8">
        <h2>专八词汇</h2>
        <p>共6025个</p>
        <form action="" method="post" id="tem8">
            <input type="hidden" name="csrfmiddlewaretoken" value="pvrW6skLRSBE8aEC2tVsBH8VormQ9FxaD7gixr8Fa7tsnqMf4ex1cgyMbnQMv2g0">
            <input type="text" name="number" id="cet4-num" placeholder="每天背单词的数量">
            <button type="submit" form="tem8">开始</button>
        </form>
    </div>
</div>

<script>
    document.getElementsByClassName('head')[1].setAttribute('id', 'ani')
</script>

    <footer>
        <nav>
            <a href="/">联系我们</a>
            <a href="/">报错</a>
        </nav>
    </footer>
</body>
</html>