{% extends 'base.html' %}

{% block title %}person space{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/button.css">
<link rel="stylesheet" href="/static/css/space.css">
<link rel="stylesheet" href="/static/css/self_space.css">
{% endblock css %}

{% block body %}
<h1 id="username">我的个人空间</h1>
<div class="blog">
    <h2 class="blog-title">我写过的博客</h2>
    {% if more %}
    <button id="more-blog" class="btn">more</button>
    {% endif %}
    {% if has_blog %}
    {% for article in articles %}
    <a class="article" href="/blog/article/{{article.id}}/">
        <h3>{{article.headline}}</h3>
        <p>{{article.abstract}}</p>
    </a>
    {% endfor %}
    {% else %}
    <div class="per-none">
        <p>你还没有写过博客~</p><a href="/blog/write/">来写博客吧</a>
    </div>
    {% endif %}
</div>
<aside>
    <div class="self-message">
        <h2>{{self.username}}</h2>
        {% if not signed %}
        <!-- <button>每日签到</button> -->
        <a href="/user/{{username}}/sign" class="sign">每日签到</a>
        {% endif %}
        <p>信用：{{self.credit}}</p>
        <p>积分：{{self.score}}</p>
    </div>
    <div class="forum-box">
    <a href="/" class="forum">常逛的版面</a>
    {% for section,urlname in sections %}
    <a href="/forum/{{urlname}}/" class="section">{{section}}</a>
    {% endfor %}
    </div>
    <div class="friends">
        <h2>好友列表</h2>
        {% for friend in friends %}
        <div class="friend">
            <a href="/user/{{friend.username}}/">{{friend.nickname}}</a>
        </div>
        {% empty %}
        <p>还没有好友哦，去加一个吧</p>
        {% endfor %}
    </div>
    <div class="applys">
        <h2>好友申请表</h2>
        {% for apply in applys %}
        <div class="apply">
            <a href="/user/{{apply.from_user.username}}/">{{apply.from_user.nickname}}</a>
            <!-- <button>add</button> -->
            <a href="/user/{{username}}/add/{{apply.from_user.username}}" class="op">add</a>
            <!-- <button>refuse</button> -->
            <a href="/user/{{username}}/refuse/{{apply.from_user.username}}" class="op">refuse</a>
            <p class="say">{{apply.say}}</p>
        </div>
        {% empty %}
        <p>暂无申请哦</p>
        {% endfor %}
    </div>
    <a href="/blog/write/" class="write btn">写博客</a>
    <a href="/blog/write/" class="message btn">详细信息</a>
    <a href="/blog/write/" class="data btn">动态</a>

</aside>
<script>
    document.getElementsByClassName('head')[1].setAttribute('id', 'ani')
</script>
{% endblock %}